body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    height: 10vh;
    align-self: center;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}   

#game-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#game-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

#boards-container {
    display: flex;
    gap: 50px;
}
.board {
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 2px;
    aspect-ratio: 1 / 1;
}

.cell {
    background-color: lightblue;
}

.attacked {
    background-color: lightcoral;
}

.cell:hover {
    transform: scale(1.1);
}
.cell.ship {
    background-color: lightblue;
}